.home_wrapper_div {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 32px 0 32px 0;
    color: #fac35e;   
    flex: 0 0 20%;
    font-weight: bold;
    padding: 32px;
    background: rgba(86, 85, 85, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(86, 85, 85, 0.58);
    font-size: 1.35rem;
}

.animal_names{
    cursor: pointer;
}

.main_content {
    padding: 32px;
    margin: 32px 0 32px 0;
    font-size: 1.25rem;
    font-weight: 600;
    flex: 0 0 60%;
    color: #f5f507;    
    background-color: transparent;
    background: rgba(2, 2, 2, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    border: 1px solid rgba(86, 85, 85, 0.58);
}

.main_content h4 {
    text-align: center;
    background-color: transparent;
    color: #fac35e;   
    font-size: 2rem;
    font-weight: bold;
}

.active {
    background-color: rgb(71, 90, 84);
    max-width:max-content;
}

.inactive {
    text-decoration: none;
}



@media screen and (max-width: 600px){
    .home_wrapper_div {
        flex-grow: 1;
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }

    .sidebar{
        justify-content:flex-start ;
        margin: 0;
        padding: 8px;
        font-size: 1rem;
        margin-top: 8px;
    }

    .main_content{
        flex: 0 0 40%;
        margin: 0;
        padding: 0;
        margin-top: 8px;
        font-size: 1rem;
    }

    .main_content h4{
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .animal_names{
        cursor: pointer;
        padding: 8px;
    }

    .default_content{
        font-size: 1rem;
        padding:16px;
    }
    
}