.home_wrapper{
  background-color: transparent;
  background: rgba(86, 85, 85, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(86, 85, 85, 0.58);

}

.title{
    text-align: center;
    padding: 32px;
    color: #fac35e;   
    
}