.popup_container {
  background-color:  rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(500px);
  color: rgb(202, 184, 184);
  font-weight: bold;
  width: 100%;
  position: absolute;
  left:0;
  top:80px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  font-size:1.25rem;
  flex-grow: 1;
  z-index: 10;
  
}

.animal_image{
  height: auto;
  width: 150px;
}

.popup_header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
}

.food{
  display: flex;
}

.popup_description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.description{
  width: 60%;
  padding: 8px;
}

.button {
  padding: 10px 20px;
  margin: 8px;
  display: flex;
  justify-content: right;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  height:max-content;
}

.button:hover {
  background-color: #305532;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

@media screen and (max-width: 600px){
  .popup_container{
    height: 100%;
    overflow: scroll;
  }
}